<h1>Posts Page</h1>

<div *ngIf="isLoading$ | async">Loading...</div>
<div *ngIf="errors$ | async as error">{{ error }}</div>
<div *ngIf="posts$ | async as posts"
     class="flex-container">
  <div class="flex-child">
    <p-panel header="Posts">
      <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link"
                icon="pi pi-cog"
                (click)="menu.toggle($event)"
                pTooltip="Options">
        </button>
        <p-menu #menu id="config_menu" [model]="postMenuItems" [popup]="true"></p-menu>
      </ng-template>
      <p-tree [value]="posts"
              selectionMode="single"
              [(selection)]="selectedPost"
              (onNodeSelect)="nodeSelect($event)"></p-tree>
    </p-panel>
  </div>
  <div class="flex-child">
    <p-panel header="Details">
      <ng-template pTemplate="icons">
        <div class="center"><span class="switch-label">Show Summaries:</span>
          <p-inputSwitch [(ngModel)]="showPostSummary"></p-inputSwitch>
        </div>
      </ng-template>
      <div *ngIf="selectedPost else notselected" class="wrapper">
        <div class="form-row">
          <span class="label">Title:</span> <span class="value">{{ selectedPost.data?.title }}</span>
        </div>
        <div class="form-row">
          <span class="label">URL:</span> <span class="value">{{ selectedPost.data?.url }}</span>
        </div>
        <div class="form-row" *ngIf="selectedPost.data?.publishDate">
          <span class="label">Publish Date:</span> <span class="value">{{ selectedPost.data?.publishDate | date:'long' }}</span>
        </div>
        <div *ngIf="selectedPost.children">
          <div class="form-row">
            <span class="label">Sub-posts:</span> <span class="value">{{ selectedPost.children.length }}</span>
          </div>
          <ul class="subposts">
            <li *ngFor="let childPost of selectedPost.children">
              {{ childPost.label }}
            </li>
          </ul>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<ng-template #notselected>
  <div>
    <span>Select post to see details</span>
  </div>
</ng-template>
